input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    margin: 5px 0 20px 0;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/***** thumb *****/
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 12px;
    border-radius: 3px;
    background: #555;
    cursor: pointer;
    margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 12px;
    border-radius: 3px;
    background: #555;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    height: 20px;
    width: 12px;
    border-radius: 3px;
    background: #555;
    cursor: pointer;
}
span.value{
    font-weight: bold;
}
/** Curve 1 **/
/* Special styling for WebKit/Blink */
.slider-curve1 input[type=range]::-webkit-slider-thumb {
    background: #cc0000;
}

/* All the same stuff for Firefox */
.slider-curve1 input[type=range]::-moz-range-thumb {
    background: #cc0000;
}

/* All the same stuff for IE */
.slider-curve1 input[type=range]::-ms-thumb {
    background: #cc0000;
}

/** Curve 2 **/
/* Special styling for WebKit/Blink */
.slider-curve2 input[type=range]::-webkit-slider-thumb {
    background: #4986DB;
}

/* All the same stuff for Firefox */
.slider-curve2 input[type=range]::-moz-range-thumb {
    background: #4986DB;
}

/* All the same stuff for IE */
.slider-curve2 input[type=range]::-ms-thumb {
    background: #4986DB;
}


/***** track *****/
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #eee;
    border-radius: 1.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #eee;
    border-radius: 1.3px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #eee;
    border-radius: 2.6px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #ccc;
}

input[type=range]::-ms-fill-upper {
    background: #eee;
    border-radius: 2.6px;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

/** Switch button **/

.btn-default.active {
    color: #fff;
    background: #7d7d7d;
}

.btn-default.active:hover, .btn-default.active:active, .btn-default.active:focus {
    color: #eaeaea;
    background: #9d9d9d;
}

button:focus {
    outline: none !important;
}

svg{
    background-color: #ffffff;
}

label{
    font-weight: 0!important;
}